<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Without</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/gridstyle.css">

</head>

<body>
    <div class="column">
        <div class="column-cell">
            <img src="../public/images/space2.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space3.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space4.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space2.jpg" alt="image">
        </div>
    </div>
    <div class="double-column">
        <div class="double-column-cell">
            <img src="../public/images/space3.jpg" alt="image">
        </div>
        <div style="float:right" class="double-column-cell">
            <img src="../public/images/space4.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space1.jpg" alt="image">
        </div>
        <div class="double-column-cell">
            <img src="../public/images/space2.jpg" alt="image">
        </div>
        <div style="float:right" class="double-column-cell">
            <img src="../public/images/space3.jpg" alt="image">
        </div>
    </div>
    <div class="column">
        <div class="column-cell">
            <img src="../public/images/space2.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space3.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space4.jpg" alt="image">
        </div>
        <div class="column-cell">
            <img src="../public/images/space2.jpg" alt="image">
        </div>
    </div>


    <!-- <div class="cell-left">
        <img src="/home/eclipse/js/lab1/public/images/space4.jpg" alt="image">
    </div>
    <div class="cell">
        <img src="/home/eclipse/js/lab1/public/images/space2.jpg" alt="image">
    </div>
    <div class="cell">
        <img src="/home/eclipse/js/lab1/public/images/space3.jpg" alt="image">
    </div>
    <div class="cell">
        <img src="/home/eclipse/js/lab1/public/images/space4.jpg" alt="image">
    </div> -->



</body>

</html>