$sprite-img:"./images/spritesheet.png";
$wrapper-L:940px;
$wrapper-S:621px;
$font-style-sans:"PT Sans";
$font-style-serif:"PT Serif";
$main-height:257px;
$main_bg-colour:#f7f9fa;
$video-height:560px;
$video-title-colour:#6a0099;
$misc-li-header-colour:#c70000;
$misc-li-text-colour:#3d76cc;
$footer-bg-colour:#f7f9fa;
$footer-list-link-colour:#567ab0;
body {
    width: 100%;
}

.sprite {
    background-image: url($sprite-img);
    background-repeat: no-repeat;
    display: block;
}

.nav {
    &__line {
        width: 100%;
        background-color: black;
        padding: 5px;
    }
    &__elements {
        width: $wrapper-L;
        margin: auto;
        overflow: auto;
        vertical-align: middle;
    }
    &__element {
        float: right;
        margin-left: 10px;
        color: white;
        font-size: 12px;
        font-family: $font-style-sans;
        &_sprite-setting {
            width: 16px;
            height: 16px;
            background-position: -31px -5px;
            margin-top: 2px;
        }
        &_sprite-email {
            margin-top: 4px;
            width: 16px;
            height: 12px;
            background-position: -5px -5px;
        }
    }
    &__tabs {
        position: relative;
        width: $wrapper-L;
        height: 30px;
        margin: auto;
        margin-bottom: 30px;
        border-bottom: solid black 2px;
    }
    &__options {
        float: right;
        margin-top: 6px;
        &_sprite-img {
            width: 16px;
            height: 15px;
            background-position: -5px -31px;
        }
    }
    &__list {
        width: 900px;
        float: left;
        height: 100%;
        list-style-type: none;
        padding-left: 10px;
    }
    &__list-item {
        margin-right: 20px;
        float: left;
    }
    &__list-item-link {
        display: block;
        color: black;
        font-size: 18px;
        text-align: center;
        font-family: $font-style-sans;
    }
}

.wrapper {
    width: $wrapper-L;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: $main-height;
    grid-column-gap: 20px;
}

.main {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 9;
    border-bottom: solid #c70000 5px;
    height: $main-height;
    height: 100%;
    &__img {
        float: left;
    }
    &__text {
        height: 100%;
        margin-left: 380px;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: auto;
        font-family: $font-style-sans;
        font-size: 14px;
        letter-spacing: -0.14px;
        background-color: $main_bg-colour;
        font-weight: normal;
    }
    &__header {
        font-family: $font-style-serif;
        letter-spacing: -0.3px;
        font-size: 30px;
    }
    &__pagination {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 18px;
        color: black;
        font-family: $font-style-sans;
        margin-bottom: 0;
    }
    &__arrow {
        &_sprite-left {
            width: 12px;
            height: 24px;
            background-position: -65px -5px;
            float: left;
            margin-right: 5px;
        }
        &_sprite-right {
            width: 12px;
            height: 24px;
            background-position: -65px -39px;
            float: right;
            margin-left: 5px;
        }
    }
}

.videos {
    float: left;
    display: block;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    height: $video-height;
    border-bottom: solid black 5px;
    &__title {
        font-size: 18px;
        text-transform: uppercase;
        color: $video-title-colour;
        overflow: hidden;
        text-align: center;
        font-family: $font-style-sans;
        line-height: 18px;
    }
    &__title::before,
    &__title::after {
        content: "";
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        border-bottom: 2px solid black;
    }
    &__title::before {
        margin-left: -50%;
    }
    &__title::after {
        margin-right: -50%;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
    }
    &__list-item {
        width: 100%;
        height: 88px;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
    }
    &__sprite-play {
        width: 24px;
        height: 19px;
        background-position: -31px -31px;
        position: absolute;
        left: 3px;
        bottom: 3px;
    }
    &__img {
        float: left;
        display: block;
    }
    &__text {
        width: 150px;
        height: 88px;
        font-size: 14px;
        float: right;
        margin-left: 10px;
        letter-spacing: -0.14px;
        font-family: "PT Sans";
    }
    &__play-button {
        position: absolute;
    }
    &__more-link {
        display: block;
        font-size: 18px;
        margin-top: 20px;
    }
}

.omg {
    grid-column-start: 1;
    grid-column-end: 9;
    &__header {
        width: 100%;
        margin-top: 30px;
        font-size: 24px;
        letter-spacing: -0.24px;
        overflow: hidden;
    }
    &__header::after {
        content: "";
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid black;
        margin-right: -100%;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__list-item {
        width: 140px;
        float: left;
        margin-right: 20px;
        overflow: hidden;
        &_last-element {
            margin-right: 0;
        }
    }
    &__li-text {
        width: 100%;
        height: 70px;
        margin-top: 5px;
        font-size: 14px;
        letter-spacing: -0.14px;
        font-family: $font-style-sans;
        line-height: 18px;
    }
}

.misc {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    border-bottom: solid black 2px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    &__header {
        width: 100%;
        margin-top: 25px;
        font-size: 24px;
        letter-spacing: -0.24px;
        overflow: hidden;
    }
    &__header::after {
        content: "";
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid black;
        margin-right: -100%;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__list-item {
        width: 140px;
        float: left;
        margin-right: 20px;
        overflow: hidden;
        &_last-element {
            margin-right: 0;
            width: 60px;
            opacity: 0.25;
        }
    }
    &__arrow {
        float: left;
        margin-right: 20px;
        width: 60px;
        height: 164px;
        &_right {
            position: absolute;
            right: 0px;
            top: 60px;
            margin-right: 0;
        }
    }
    &__li-header {
        font-family: $font-style-sans;
        font-size: 14px;
        height: 20px;
        overflow: hidden;
        color: $misc-li-header-colour;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__li-text {
        width: 100%;
        height: 55px;
        margin-top: 5px;
        font-size: 14px;
        letter-spacing: -0.14px;
        font-family: $font-style-sans;
        line-height: 18px;
        color: $misc-li-text-colour;
    }
    &__link {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.info {
    width: 100%;
    height: 90px;
    border: 1px solid #d7d8d9;
    background-color: $footer-bg-colour;
    margin-top: 30px;
    &__content {
        width: $wrapper-L;
        margin: auto;
        margin-top: 20px;
        font-size: 12px;
        letter-spacing: -0.12px;
        font-family: $font-style-sans;
    }
    &__links {
        list-style-type: none;
        margin-top: 15px;
    }
    &__list-item {
        float: left;
        margin-right: 10px;
    }
    &__list-link {
        color: $footer-list-link-colour;
    }
}

@media (max-width:800px) {
    body {
        width: 640px;
    }
    .nav {
        &__elements {
            width: 620px;
        }
        &__tabs {
            width: 620px;
        }
        &__list {
            width: 600px;
        }
    }
    .wrapper {
        width: $wrapper-S;
    }
    .main {
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .videos {
        margin-top: 10px;
        float: left;
        display: block;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        &__text {
            width: 470px;
        }
    }
    .omg {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
    }
    .misc {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 4;
        &__list-item_hide {
            display: none;
        }
    }
    .info {
        &__content {
            width: $wrapper-S;
        }
    }
}